.App {
	text-align: center;
	background-color: var(--bg-color) !important;
}
.color-theme {
	color: var(--text-color) !important;
}
.bg {
	background-color: var(--bg-color) !important;
}
.navbg {
	background-color: var(--text-color) !important;
}
.border {
	border-color: var(--border-color) !important;
}
.color-text {
	color: var(--normal-text-color) !important;
}
.button {
	color: white !important;
	background-color: var(--text-color) !important;
}
.upload-button {
	color: white !important;
	background-color: var(--text-color) !important;
}
.button:hover {
	background-color: white !important;
	color: var(--text-color) !important;
}
.cardShadow {
	border: 1px solid var(--border-color) !important;
	box-shadow: 2px 2px 3px 0 var(--border-color) !important;
}
.myphoto {
	box-shadow: 2px 3px 15px 2px var(--border-color) !important;
}
.Mui-focused {
	background-color: white !important;
}
.MuiOutlinedInput-root {
	background-color: transparent !important;
	color: var(--text-color) !important;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
	border-color: var(--border-color) !important;
}
.nav .MuiDrawer-paper {
	background-color: var(--bg-color) !important;
	color: var(--text-color) !important;
	box-shadow: 2px 2px 15px 2px var(--border-color) !important;
}
.navbar .MuiListItem-root {
	border-radius: 5px !important;
	transition-duration: 0.2s !important;
	font-weight: 900 !important;
}
.navbar .MuiListItem-root:hover {
	background-color: var(--text-color) !important;
	color: white !important;
	box-shadow: 3px 3px 7px -2px #000000 !important;
}
.MuiInputLabel-root {
	padding: 2px 10px !important;
	color: var(--text-color) !important;
	background-color: transparent !important;
}
pre {
	overflow: auto;
	background-color: #eee;
	width: 100%;
}
